<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="circularMT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <circularMT.Properties.Settings>
            <setting name="CDS" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="exon" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="tRNA" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="rRNA" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="D_loop" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="repeat_region" serializeAs="String">
                <value>GreenYellow</value>
            </setting>
            <setting name="misc_feature" serializeAs="String">
                <value>Orchid</value>
            </setting>
            <setting name="mRNA" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="gene" serializeAs="String">
                <value>Pink</value>
            </setting>
            <setting name="rep_origin" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="CDS_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="exon_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="tRNA_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="rRNA_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="D_loop_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="repeat_region_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="misc_feature_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="mRNA_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="gene_font" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>Black</value>
            </setting>
        </circularMT.Properties.Settings>
    </userSettings>
</configuration>